<% comments.each do |comment| %>
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="<%= comment.member.gravatar_url %>" alt="...">
      </a>
    </div>
    <div class="media-body">
      <p class="media-heading"><%= comment.member %></p>
      <h5> <%= comment.content %> </h5>
    </div>
  </div>
<% end  %>