<h1>Editing Maintenance Receipt</h1>

<%= render 'form', maintenance_receipt: @maintenance_receipt %>

<%= link_to 'Show', @maintenance_receipt, class: "btn btn-link" %> |
<%= link_to 'Back', maintenance_receipts_path, class: "btn btn-link" %>
